<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/building.ico">
    <title>Esbuild</title>
    <script src="/dist/main.js"></script>
</head>

<body>
    <main>
        <p class="tool-description"><i>esbuild is a JavaScript bundler that is designed to be fast. It supports loading some file types without additional installations.</i></p>

        <div style="text-align: center; margin: 2rem 0;">
            <img src="/esbuild.png" width="200" style="border-radius: 20px; object-fit: cover">
        </div>

        <h2>Main distinguishing features</h2>

        <h3>Extremely fast bundling
        </h3>
        <p>
            esbuild is known for its fast bundling times, with the ability to bundle approximately 10 to 100 times faster than similar build tools. Many build tools like Webpack, Parcel, and Vite speed up bundling by using caches. esbuild can execute bundling at impressive speeds without using caches, meaning fewer configurations and a more efficient development process.
    </p>
    <div class="footer">
        <a href="/webpack">Webpack</a>
        <a href="/parcel">Parcel</a>
        <a href="/vite">Vite</a>
    </div>
    </main>
</body>

</html>