<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/building.ico">
    <title>Parcel</title>
    <script src="/dist/main.js"></script>
</head>

<body>
    <main>
        <p class="tool-description">
            <i>Parcel is a bundler designed to need no configuration, making it easy to install and use right away.</i>
        </p>

        <div style="text-align: center; margin: 2rem 0;">
            <img src="/parcel.png" width="200" style="border-radius: 20px; object-fit: cover">
        </div>

        <h2>Main distinguishing features</h2>

        <h3>Zero configuration</h3>
        <p>
            Parcel stands out from other build tools mainly because of its ability to set up and run projects with very
            little configuration. Here are some features Parcel supports without the need for any configuration:
        <ul>
            <li>Code-splitting with no entry point configuration</li>
            <li>Built-in bundling for HTML, CSS, and JavaScript</li>
            <li>Live reloading via Hot Module Replacement (HMR)</li>
        </ul>
        <p>In addition, Parcel is similar to Webpack in that it provides out-of-the-box support for many different kinds
            of
            frameworks, including Typescript, Vue.js, SCSS, and GraphQL.
        </p>
        <div class="footer">
            <a href="/webpack">Webpack</a>
            <a href="/esbuild">Esbuild</a>
            <a href="/vite">Vite</a>
        </div>
    </main>
</body>

</html>