<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/building.ico">
    <title>Vite</title>
    <script src="/dist/main.js"></script>
</head>

<body>
    <main>
        <p class="tool-description"><i>Vite is a build tool that uses Rollup for bundling and provides a development server that supports ES module imports and exports.</i></p>

        <div style="text-align: center; margin: 2rem 0;">
            <img src="/vite.png" width="200" style="border-radius: 20px; object-fit: cover">
        </div>

        <h2>Main distinguishing features</h2>

        <h3>Dev server</h3>
        <p>
            Vite differentiates itself from its competitors with its efficient and fully-embedded dev server. Vite uses esbuild behind-the-scenes to pre-bundle dependencies in the browser to reduce dev server start times and ensure module compatibility by converting CommonJS and UMD modules into native ESM. As a result, the dev server is optimized and significantly improves Hot Module Reloading (HMR) update speed and page loading performance.
    </p>
    <div class="footer">
        <a href="/webpack">Webpack</a>
        <a href="/parcel">Parcel</a>
        <a href="/esbuild">Esbuild</a>
    </div>
    </main>
</body>

</html>